<div class="jumbotron masthead">
  <div class="container">
    <h1>TLSearch</h1>
    <p>Keep a archive of your tweets to search,</p>
    <p class="short">tag, annotate, and favorite.</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large">Sign In with Twitter</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/brentmc79/tlsearch">GitHub project</a>
      </li>
      <li>
        <a href="/public/wtfaq">WTFAQ?</a>
      </li>
      <li>
        <a href="/public/about">About</a>
      </li>
      <li>
        Version 0.0.1
      </li>
    </ul>
  </div>
</div>
